.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-mobile);
    background-color: var(--color-white);
    z-index: var(--z-fixed);
}

.show_border {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
}

@media (min-width: 577px) {
    .header {
        height: var(--header-table);
    }
}

@media (min-width: 1200px) {
    .header {
        height: var(--header-desctop);
    }
}