:root {
    /*====== base =========*/
    /*--font-family: "Helvetica", sans-serif;*/
    /*--font-family-roboto: "Roboto", sans-serif;*/

    --content-width: 1180px;
    --container-offset: 20px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    /*====== colors ========*/
    --color-white: #FFFFFF;
    --color-black: #1D1D1D;
    --color-red: #E73331;
    --color-red-hover: #B92927;
    --color-red-pressed: #8B1F1D;
    --color-grey: #F5F5F5;
    --color-success: #28A267;

    --color-border: #DDDDDD;
    --color-border-input: #9E9E9E;

    --color-wrapper: rgba(29, 29, 29, 0.90);
    --color-background-hover: rgba(0, 0, 0, 0.20);

    --color-font: #1D1D1D;
    --color-font-grey: #6F6F6F;
    --color-font-active: #E73331;
    --color-font-hover: #B92927;
    --color-font-success: #28A267;


    /*========== height HEADER ==========*/
    --header-desctop: 134px;
    --header-table: 250px;
    --header-mobile: 76px;

    /*========== PADDING ==========*/
    --padding-mobil: 100px;
    --padding-desctop: 130px;

    /*========== z index ==========*/
    --z-fixed: 3;
    --z-tooltip: 5;
    --z-modal: 10;

    /*========== box-shadow ==========*/
    --box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
    --box-shadow-active: 0px 8px 18px 0px rgba(0, 0, 0, 0.30);


}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-white);
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: transparent;
}

input {
    outline: none;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

.main {
    padding-top: var(--header-mobile);
    width: 100%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--font-roboto-bold);
    font-size: 36px;
    font-weight: 700;
    color: var(--color-font);
    line-height: 120%;
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--font-helvetica-bold);
    font-size: 20px;
    font-weight: 700;
}

.subtitle_active {
    color: var(--color-font-active);
}

.text {
    font-family: var(--font-helvetica-light);
    font-size: 16px;
    font-weight: 300;
    line-height: 170%;
}

.bg-grey {
    background-color: var(--color-grey);
}

.bg-white {
    background-color: var(--color-white);
}

.mb_5 {
    margin-bottom: 5px;
}

.padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-top {
    padding-top: 100px;
}

@media (min-width: 577px) {
    .main {
        padding-top: var(--header-table);
    }

    .show-arrows:hover .header-button-next,
    .show-arrows:hover .header-button-prev {
        display: block;
    }
}

@media (min-width: 1200px) {
    .main {
        padding-top: var(--header-desctop);
    }

    .padding {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .padding-top {
        padding-top: 130px;
    }
}