.wrapper {
    padding: 10px;
}

.card {
    padding: 50px 20px 60px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.title {
    margin-bottom: 20px;
}

.body_title {
    margin-bottom: 20px;
    padding: 0;
    display: grid;
    gap: 16px;
}

.subtitle {
    margin: 0 0 15px;
    font-family: var(--font-helvetica-bold);
    font-size: 14px;
    line-height: 170%;
}

.text {
    margin: 0;
    font-size: 14px;
    line-height: 170%;
}

.block_image {
    position: relative;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 0.5;
}

.hover {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-background-hover);
}

.block_image:hover .hover {
    display: flex;
}

.image_wrapper {
    width: 50px;
    height: 50px;
    background-color: var(--color-white);
    border-radius: 50%;
}

@media (min-width: 577px) {
    .body_title {
        grid-template-columns: repeat(3, 1fr);
    }

    .block_customer {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (min-width: 1200px) {
    .body_title {
        grid-template-columns: repeat(4, 1fr)
    }

    .block_customer {
        grid-column-end: 2;
    }

    .block_image {
        margin-bottom: 0;
    }

    .image {
        width: 472px;
        height: 295px;
    }

    .body_description {
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: 295px;
    }
}